*~
*.orig
*.c32
*.[oa]
*.so
*.elf
*.o.d
dnc-version.h
bootloader/json-*
bootloader/mjson-*
bootloader/syslinux-*
bootloader/test-masternode
bootloader/test-routing
bootloader/test-slavenode
bootloader/dnc-debug.h
bootloader/ht-trace.h
